section#home {
	scroll-snap-type: Y mandatory;
	scroll-behavior: smooth;
	overflow-y: scroll;
	box-sizing: border-box;
}

section#home > * {
	scroll-snap-align: start;
	scroll-snap-stop: always;
	overflow: hidden;
	height: 100%;
}

.welcome-page {
	max-height: 540px;
	display: grid;
	grid-template-columns: 1fr 480px;
	grid-template-rows: 1fr;
	padding: 2rem;
}

.welcome-page h1 {
	font-size: 4rem;
	line-height: 1;
}

.welcome-page p {
	font-size: 1.2em;
	width: 80%;
	margin: 20px 0;
	max-width: 80%;
}

.follower-effect {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 1rem;
}

.follower-effect > * {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}

.follower-effect span.svg {
	font-size: 4rem;
}

span.title {
	font-size: 0.8rem;
}

span.svg + span.stats {
	display: inline-block;
	font-size: 1.5rem;
}

@media (max-width: 600px) {
	h1 {
		font-size: 2.5rem;
	}

	p {
		font-size: 1rem;
	}
}

.event-desc {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.event-desc > h2 {
	font-size: 2.5rem;
}

.event-desc p {
	font-size: 1rem;
	text-align: center;
}

.event-desc div.content {
	width: 80%;
}

.event-desc table {
	border-spacing: 0 15px;
}

h3 {
	white-space: nowrap;
}

td:first-child {
	text-align: right;
}

td:nth-child(2) {
	padding-left: 4px;
    text-align: justify;
}
