* {
	margin: 0;
	padding: 0;
	user-select: none;
	box-sizing: border-box;
}

span.svg,
span.svg > svg {
	height: 1em;
	width: 1em;
	fill: currentColor;
}

body {
	height: 100%;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.root-cont {
	display: grid;
	grid-template-rows: 80px 1fr auto;
	height: 100vh;
}

header {
	background-color: #1a1a1a;
}

main {
	min-height: 530px;
	padding: 20px;
	overflow-y: auto;
	background-image: linear-gradient(
		to bottom,
		#1a1a1a,
		#1c1b23,
		#1e1d2d,
		#201e37,
		#211f41,
		#212154,
		#202267,
		#1d237a,
		#14239b,
		#0320bc,
		#0019de,
		#0000ff
	);
}
